* {
    margin: 0;
    padding: 0;
}

.chartLabel {
    display: flex;
    flex-direction: row;
}

.labelBox {
    width: calc((1.25vh + 1.5vw) / 2);
    height: calc((1.25vh + 1.5vw) / 2);
    text-align: center;
}