* {
    margin: 0;
    padding: 0;
}

.detailedContainer {
    width: 70%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 5%;
    background-color: #ededed;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem grey;
    text-align: center;
}

.detailedHeader {
    padding-top: 1.33%;
}

.detailedTitle {
    color: #505050;
    letter-spacing: 0.25rem;
    font-size: calc((1.75vh + 1.75vw) / 2);
}

.detailedLine {
    width: 90%;
    margin: 0.8% 5% 0 5%;
}

.lineChart {
    width: 80%;
    height: 50%;
    margin: 1% 10% 0 10%;
    background-color: white;
    border-radius: 0.5rem;
}

.chartLabelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(-275%);
}

.statsTable {
    width: 80%;
    height: 30%;
    margin: 3% 10% 0 10%;
    background-color: white;
    border-radius: 0.5rem;
    font-size: calc((1.5vh + 1.5vw) / 2);
}

.statsHeader {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    letter-spacing: 0.1rem;
}

.statsSubContent {
    width: 40%;
    text-align: left;
}