
* {
    margin: 0;
    padding: 0;
}

.settingsHeader, 
.settingsFooter {
    padding-top: 5%;
    position: relative;
}

.settingsContent {
    margin-top: 10%;
}

.settingsTitle,
.settingsSignOff, 
.settingsLabel {
    color: #505050;
    letter-spacing: 0.25rem;
    font-size: calc((1.75vh + 1.75vw) / 2);
}

.settingsLine {
    width: 90%;
    margin: 3% 5% 0 5%;
}

.datePicker {
    margin: 2% 0 3% 0;
    font-family: 'Lato', sans-serif;
    color: #505050;
}