* {
    margin: 0;
    padding: 0;
}

.summaryContainer {
    width: 25%;
    height: 80vh;
    margin-top: 2%;
    background-color: #ebe8e6;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem grey;
    text-align: center;
}

.summaryHeader {
    padding-top: 5%;
}

.summaryTitle {
    color: #505050;
    letter-spacing: 0.25rem;
}

.summaryLine {
    width: 90%;
    margin: 3% 5% 0 5%;
}

.nodeContainer {
    padding: 5% 0 0 5%;
    height: 65vh;
    text-align: left!important;
    overflow-y: scroll;
}